table {
    position: relative;
    border-collapse: collapse;
}

.table-wrapper {
    position: relative;
}

.radio-wrapper {
    padding-left: 1em;
    padding-right: 1em;
    background-color: steelblue;
    position: -webkit-sticky !important; /* for Safari */
    position: sticky !important;
    top: 0;
    height: 30px;
    z-index: 2;
}

td, th {
    padding: 0.25em;
}

thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    background: steelblue;
    color: #FFF;
    min-width: 80px;
    z-index: 1;
}
  
thead th:first-child {
    left: 0;
    z-index: 2;
}

.top0 {
    top: 0px !important;
}
  
tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
    border-right: 1px solid #CCC;
    z-index: 1;
}

tbody td {
    height: 40px;
    text-align: center;
    z-index: 0;
}

.head-bar {
    border:1px #cccccc solid;
    padding: 8px;
    margin: 3vw 3vw 0 3vw;
    text-align: center;
}
