table {
    position: relative;
    border-collapse: collapse;
}

.table-wrapper {
    
    position: relative;
    margin: 8px;
}

td, th {
    padding: 0.25em;
}

thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: steelblue;
    color: #FFF;
    min-width: 80px;
}
  
thead th:first-child {
    left: 0;
    z-index: 1;
}
  
tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: #FFF;
    border-right: 1px solid #CCC;
}

tbody td {
    height: 40px;
    text-align: center;
}

.head-bar {
    border:1px #cccccc solid;
    padding: 8px;
    margin: 3vw 3vw 0 3vw;
    text-align: center;
}
